@model Harlem.Entity.DbModels.Category
@{
    Layout = null;
}
@if (ViewBag.ViewActionType == Harlem.Core.Tools.Enums.ViewStatus.Insert)
{
    <div class="card-body">
        <form class="form-horizontal" id="postFrom">
            <div class="card-body">
                <div class="form-group row">
                    <label for="DisplayName " class="col-sm-4 col-form-label content-right">Görünen İsim:</label>
                    <div class="col-sm-8">
                        <input name="DisplayName" class="form-control" type="text">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Name" class="col-sm-4 col-form-label content-right">İç İsim :</label>
                    <div class="col-sm-8">
                        <input name="Name" class="form-control" type="text">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Description" class="col-sm-4 col-form-label content-right">Açıklama :</label>
                    <div class="col-sm-8">
                        <textarea name="Description" class="form-control" type="text" rows="5"></textarea>
                    </div>
                </div>
                <!--JSON yada middlevarede "true" "false" olayını true false olarak düzelt-->
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label content-right">Durum :</label>
                    <div class="col-sm-8 d-flex align-items-center">
                        <div class="icheck-success d-inline">
                            <input type="radio" id="checkboxSuccess2" data-value-type="boolean" name="isActive" value=true checked>
                            <label for="checkboxSuccess2">
                                Aktif
                            </label>
                        </div>
                        <div class="icheck-danger d-inline ml-3">
                            <input type="radio" id="checkboxDanger3" data-value-type="boolean" name="isActivee" value=false>
                            <label for="checkboxDanger3">
                                Pasif
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label content-right"></label>
                    <div class="col-sm-8 d-flex align-items-center">
                        <div type="button" class="btn btn-block btn-primary " onclick="InsertOrUpdate('#postFrom')"><i class="fas fa-save ml-2"></i> Kaydet</div>
                    </div>
                </div>
            </div>
        </form>
    </div>
}
else
{
    <div class="card-body">
        <form class="form-horizontal" id="postFrom">
            <div class="card-body">
                <div class="form-group row">
                    <input hidden name="Id" value="@Model.Id" />
                    <label for="DisplayName " class="col-sm-4 col-form-label content-right">Görünen İsim:</label>
                    <div class="col-sm-8">
                        <input name="DisplayName" class="form-control" value="@Model.DisplayName" type="text">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Name" class="col-sm-4 col-form-label content-right">İç İsim :</label>
                    <div class="col-sm-8">
                        <input name="Name" class="form-control" value="@Model.Name" type="text">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Description" class="col-sm-4 col-form-label content-right">Açıklama :</label>
                    <div class="col-sm-8">
                        <textarea name="Description" class="form-control" type="text" rows="5">@Model.Description</textarea>
                    </div>
                </div>
                @if (Model.isActive == true)
                {
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label content-right">Durum :</label>
                        <div class="col-sm-8 d-flex align-items-center">
                            <div class="icheck-success d-inline">
                                <input type="radio" id="checkboxSuccess2" data-value-type="boolean" name="isActive" value=true checked>
                                <label for="checkboxSuccess2">
                                    Aktif
                                </label>
                            </div>
                            <div class="icheck-danger d-inline ml-3">
                                <input type="radio" id="checkboxDanger3" data-value-type="boolean" name="isActive" value=false>
                                <label for="checkboxDanger3">
                                    Pasif
                                </label>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label content-right">Durum :</label>
                        <div class="col-sm-8 d-flex align-items-center">
                            <div class="icheck-success d-inline">
                                <input type="radio" id="checkboxSuccess2" data-value-type="boolean" name="isActive" value=true>
                                <label for="checkboxSuccess2">
                                    Aktif
                                </label>
                            </div>
                            <div class="icheck-danger d-inline ml-3">
                                <input type="radio" id="checkboxDanger3" data-value-type="boolean" name="isActive" value=false checked>
                                <label for="checkboxDanger3">
                                    Pasif
                                </label>
                            </div>
                        </div>
                    </div>
                }
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label content-right"></label>
                    <div class="col-sm-8 d-flex align-items-center">
                        <div type="button" class="btn btn-block btn-primary " onclick="InsertOrUpdate('#postFrom')"><i class="fas fa-save ml-2"></i> Kaydet</div>
                    </div>
                </div>

            </div>
        </form>
    </div>

}
<script>
    var InsertOrUpdateValue = "@ViewBag.ViewActionType"
    function InsertOrUpdate(form) {

        var postDataObject = $(form).serialize();
        console.log(postDataObject);
        if (InsertOrUpdateValue == "Insert") {
            $.ajax({
                url: "/backoffice/category/Add",
                 type: "POST",
                 data: postDataObject,
                 cache: false,
                 success: function (json) {
                     if (json.status === true) {
                         toastr["success"](json.message, "Başarılı")
                         table.ajax.reload();
                     }
                     else if (json.status === false) {
                         toastr["error"](json.message, "İç sunucu hatası.")
                     }
                     return json.data;
                 },
                 error: function (xhr, ajaxOptions, thrownError) {
                     toastr["error"]("Sunucuya Erişim Sağlanamadı.", "İletişim Hatası !")
                 }
             });
         }
         else {
            $.ajax({
              
                url: "/backoffice/category/Update",
                 type: "POST",
                 data: postDataObject,
                 cache: false,
                 success: function (json) {
                     if (json.status === true) {
                         toastr["success"](json.message, "Başarılı")
                         table.ajax.reload();
                     }
                     else if (json.status === false) {
                         toastr["error"](json.message, "İç sunucu hatası.")
                     }
                     return json.data;
                     $(location).html(response);
                 },
                 error: function (xhr, ajaxOptions, thrownError) {
                     toastr["error"]("Sunucuya Erişim Sağlanamadı.", "İletişim Hatası !")
                 }
             });
         }
         insertOrUpdateModal.modal("toggle");
    }
</script>

